
h1, h2 {
    background: linear-gradient(45deg, black, burlywood);
    padding: 10px;
    text-align: center;
}
h1, h2 {
    font-family: Impact
    
  }
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}


p[class] {
    text-align: center;
    font-size: larger;
    padding: 20px;
    word-wrap: normal;
    background: linear-gradient(45deg, black, burlywood);
    width: 560px;
}
p > a {
    color: burlywood;
    font-size: larger;
}
body {
    background-image: url(https://thumbs.dreamstime.com/b/tire-tracks-13240273.jpg);
}
hr {
    height: 5px;
    background: linear-gradient(45deg, black, burlywood);
}
img {
    padding: 20px;
    background: linear-gradient(45deg, black, burlywood);
    border: groove 1em linear-gradient(45deg, black, burlywood);
  border-radius: 2em;
}
iframe {
    background: linear-gradient(45deg, black, burlywood);
    padding: 20px;
    border: groove 1em linear-gradient(45deg, burlywood, black);
    border-radius: 2em;
}
